.item {
  width: 300px;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}
